-- Extensions
create extension if not exists "uuid-ossp";
create extension if not exists pgcrypto;

-- Enums
do $$
begin
  if not exists (select 1 from pg_type where typname='userrole') then
    create type userrole as enum ('citizen','lgu_staff','traffic_enforcer','admin');
  end if;
  if not exists (select 1 from pg_type where typname='incidentproneareatype') then
    create type incidentproneareatype as enum (
      'ACCIDENT_PRONE','CRIME_HOTSPOT','FLOOD_PRONE','TRAFFIC_CONGESTION','ROAD_HAZARD'
    );
  end if;
  if not exists (select 1 from pg_type where typname='settingtype') then
    create type settingtype as enum ('string','number','boolean','json','secret');
  end if;
end$$;

-- Base core tables that might already exist (safe if they do)
create table if not exists users (
  id serial primary key,
  email varchar(255) not null unique,
  username varchar(255) not null unique,
  hashed_password varchar(255),
  full_name varchar(255) not null,
  phone_number varchar(20),
  role userrole not null default 'citizen',
  is_active boolean not null default true,
  firebase_uid varchar(128),
  photo_url varchar(512),
  email_verified boolean not null default false,
  created_at timestamptz default now(),
  updated_at timestamptz
);
create unique index if not exists ix_users_firebase_uid on users(firebase_uid);

create table if not exists emergencies (
  id serial primary key
);

create table if not exists traffic_monitoring (
  id integer,
  barangay varchar(100),
  data_source varchar(50),
  confidence_score float
);
create index if not exists ix_traffic_monitoring_id on traffic_monitoring(id);

create table if not exists favorite_routes (
  id serial primary key,
  user_id integer not null references users(id),
  name varchar(255) not null,
  origin_name varchar(255),
  origin_lat float,
  origin_lng float,
  destination_name varchar(255),
  destination_lat float,
  destination_lng float,
  route_summary json,
  is_default boolean,
  created_at timestamp without time zone
);
create index if not exists ix_favorite_routes_id on favorite_routes(id);

create table if not exists travel_sessions (
  id serial primary key,
  user_id integer not null references users(id),
  origin_name varchar(255),
  origin_lat float,
  origin_lng float,
  destination_name varchar(255),
  destination_lat float,
  destination_lng float,
  route_data json,
  duration_minutes float,
  distance_km float,
  start_time timestamp without time zone,
  end_time timestamp without time zone,
  travel_mode varchar(50),
  traffic_conditions varchar(50),
  notes text,
  created_at timestamp without time zone
);
create index if not exists ix_travel_sessions_id on travel_sessions(id);

-- New tables from migrations
create table if not exists no_parking_zones (
  id serial primary key,
  name varchar(255) not null,
  description varchar(500),
  latitude float not null,
  longitude float not null,
  zone_type varchar(50) not null,
  restriction_reason varchar(100) not null,
  radius_meters integer not null,
  is_strict boolean not null,
  fine_amount numeric(10,2) not null,
  enforcement_hours varchar(20) not null,
  address varchar(500) not null,
  created_at timestamptz default now(),
  updated_at timestamptz
);
create index if not exists ix_no_parking_zones_id on no_parking_zones(id);

create table if not exists incident_prone_areas (
  id serial primary key,
  area_name varchar(255) not null,
  area_type incidentproneareatype not null,
  description text,
  severity_level varchar(20) not null,
  latitude float not null,
  longitude float not null,
  radius_meters float not null,
  affected_roads json,
  barangay varchar(100),
  incident_count integer not null,
  last_incident_date timestamptz,
  peak_hours json,
  common_incident_types json,
  risk_score float not null,
  prevention_measures text,
  alternative_routes json,
  data_source varchar(100) not null,
  source_url varchar(500),
  last_verified timestamptz,
  is_active boolean not null,
  is_verified boolean not null,
  created_at timestamptz default now(),
  updated_at timestamptz
);
create index if not exists ix_incident_prone_areas_id on incident_prone_areas(id);

create table if not exists system_logs (
  id serial primary key,
  log_level varchar(20) not null,
  service_name varchar(100) not null,
  message text not null,
  error_code varchar(50),
  stack_trace text,
  extra_data json,
  created_at timestamptz default now()
);
create index if not exists ix_system_logs_id on system_logs(id);
create index if not exists ix_system_logs_created_at on system_logs(created_at);

create table if not exists activity_logs (
  id serial primary key,
  user_id integer references users(id),
  activity_type varchar(50) not null,
  activity_description text not null,
  ip_address varchar(45),
  user_agent text,
  session_id varchar(255),
  latitude varchar(20),
  longitude varchar(20),
  location_description text,
  extra_data json,
  resource_type varchar(50),
  resource_id integer,
  is_successful boolean not null,
  error_message text,
  response_time_ms integer,
  created_at timestamptz default now()
);
create index if not exists ix_activity_logs_id on activity_logs(id);
create index if not exists ix_activity_logs_created_at on activity_logs(created_at);

create table if not exists audit_logs (
  id serial primary key,
  user_id integer not null references users(id),
  action varchar(100) not null,
  table_name varchar(100) not null,
  record_id integer,
  old_values json,
  new_values json,
  ip_address varchar(45),
  user_agent text,
  created_at timestamptz default now()
);
create index if not exists ix_audit_logs_id on audit_logs(id);
create index if not exists ix_audit_logs_created_at on audit_logs(created_at);

create table if not exists system_settings (
  id serial primary key,
  key varchar(255) not null,
  value text,
  setting_type settingtype,
  description text,
  category varchar(100) not null,
  is_public boolean,
  created_at timestamptz default now(),
  updated_at timestamptz,
  updated_by integer references users(id),
  unique(key)
);
create index if not exists ix_system_settings_id on system_settings(id);

create table if not exists notification_templates (
  id serial primary key,
  name varchar(255) not null,
  template_type varchar(50) not null,
  subject varchar(500),
  content text not null,
  variables json,
  is_active boolean,
  created_at timestamptz default now(),
  updated_at timestamptz,
  created_by integer references users(id),
  unique(name)
);
create index if not exists ix_notification_templates_id on notification_templates(id);

create table if not exists system_alerts (
  id serial primary key,
  title varchar(255) not null,
  message text not null,
  alert_type varchar(50) not null,
  target_roles json,
  is_active boolean,
  is_dismissible boolean,
  start_date timestamptz,
  end_date timestamptz,
  created_at timestamptz default now(),
  created_by integer not null references users(id)
);
create index if not exists ix_system_alerts_id on system_alerts(id);

create table if not exists data_export_jobs (
  id serial primary key,
  job_name varchar(255) not null,
  export_type varchar(100) not null,
  status varchar(50),
  file_path varchar(500),
  file_size integer,
  parameters json,
  progress integer,
  error_message text,
  created_at timestamptz default now(),
  completed_at timestamptz,
  created_by integer not null references users(id)
);
create index if not exists ix_data_export_jobs_id on data_export_jobs(id);

create table if not exists security_events (
  id serial primary key,
  event_type varchar(100) not null,
  severity varchar(20),
  source_ip varchar(45),
  user_agent text,
  user_id integer references users(id),
  description text not null,
  event_metadata json,
  is_resolved boolean,
  resolved_at timestamptz,
  resolved_by integer references users(id),
  created_at timestamptz default now()
);
create index if not exists ix_security_events_id on security_events(id);

create table if not exists system_metrics (
  id serial primary key,
  metric_name varchar(255) not null,
  metric_value float not null,
  metric_type varchar(50) not null,
  tags json,
  timestamp timestamptz default now()
);
create index if not exists ix_system_metrics_id on system_metrics(id);

create table if not exists user_sessions (
  id serial primary key,
  user_id integer not null references users(id),
  session_token varchar(255) not null unique,
  ip_address varchar(45),
  user_agent text,
  is_active boolean,
  last_activity timestamptz default now(),
  created_at timestamptz default now(),
  expires_at timestamptz not null
);
create index if not exists ix_user_sessions_id on user_sessions(id);

create table if not exists content_moderation_queue (
  id serial primary key,
  content_type varchar(50) not null,
  content_id integer not null,
  reason varchar(255) not null,
  status varchar(50),
  priority varchar(20),
  content_metadata json,
  created_at timestamptz default now(),
  reviewed_at timestamptz,
  reviewed_by integer references users(id),
  review_notes text
);
create index if not exists ix_content_moderation_queue_id on content_moderation_queue(id);

-- Emergencies moderation columns (safe if already present)
alter table emergencies add column if not exists photo_urls text;
comment on column emergencies.photo_urls is 'JSON array of uploaded photo URLs';
alter table emergencies add column if not exists is_verified boolean not null default false;
alter table emergencies add column if not exists verification_status varchar(20) not null default 'pending';
alter table emergencies add column if not exists verified_by integer references users(id);
alter table emergencies add column if not exists verified_at timestamptz;
alter table emergencies add column if not exists verification_notes text;
alter table emergencies add column if not exists moderation_priority varchar(20) not null default 'normal';
create index if not exists ix_emergencies_verification_status on emergencies(verification_status);
create index if not exists ix_emergencies_is_verified on emergencies(is_verified);
create index if not exists ix_emergencies_moderation_priority on emergencies(moderation_priority);

-- Alembic bookkeeping (optional)
create table if not exists alembic_version (version_num varchar(32) primary key);
do $$
begin
  if not exists (select 1 from alembic_version) then
    insert into alembic_version(version_num) values ('5f7218d85523');
  end if;
end$$;